* {
    border: none;
    font-family: Font Awesome, Fira Sans, Roboto, Arial, sans-serif;
    font-size: 14px;
    color: @text;
    border-radius: 20px;
}

window {
	/*font-weight: bold;*/
}
window#waybar {
    background: rgba(0, 0, 0, 0);
}
/*-----module groups----*/
.modules-right {
	background-color: @base;
    margin: 4px 10px 0 0;
}
.modules-center {
	background-color: @base;
    margin: 4px 0 0 0;
}
.modules-left {
    margin: 4px 0 0 5px;
	background-color: @base;
}
/*-----modules indv----*/
#workspaces button {
    padding: 1px 2px;
    background-color: transparent;
}
#workspaces button:hover {
    box-shadow: inherit;
	background-color: alpha(@overlay2, 0.2);
}

#workspaces button.focused {
	background-color: alpha(@overlay1, 0.4);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#mpd,
#custom-power,
#custom-menu,
#custom-sit,
#idle_inhibitor {
    padding: 0 10px;
}
#mode {
    color: @red;
    font-weight: bold;
}
#custom-power {
    background-color: @surface0;
    border-radius: 100px;
    margin: 5px 5px;
    padding: 1px 1px 1px 6px;
}
/*-----Indicators----*/
#pulseaudio.muted {
    color: @yellow;
}
#battery.charging {
    color: @green;
}
#battery.warning:not(.charging) {
	color: @yellow;
}
#battery.critical:not(.charging) {
    color: @red;
}

#mpd.paused,
#mpd.stopped {
    color: @surface2
}
#mpd.playing {
    color: @pink
}
